* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rosso {
  color: red;
  position: relative;

}


ul li {
  width: 20%;
  height: 100px;
  float: left;
  border: 1px solid black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
}
