* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 50px;
}

.rosso {
  color: red;
  position: relative;

}

ul li {
  width: 20%;
  height: 100px;
  float: left;
  border: 1px solid black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

p {
  position: absolute;
  top: 70%;
  margin-bottom: 0;
}
